*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    /* width: 80%;
    margin: 0 auto; */
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff) ;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -700px 0;
    animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}