body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #adad9a;
    background-size: cover;
    background-position: center;
}

.signup-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 6% auto;
    background: white;
    text-align: center;
    border-radius: 5px;


}

.signup-form h1{
    margin: 10px auto 30px auto;
    color: #1c8adb;
}

.input-box{
    margin: 10px auto;
    width: 290px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #999;
    outline: none;
}

button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    margin: 10px 0;
    outline: none;
    cursor: pointer;

}

.signup-btn{
    background-color: #1c8adb;
}

.twitter-btn{
    background-color: #21afde;
}

a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
    width: 100%;
}

.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}

p{
    margin: 12px auto;
}

.img-logo{
}

.image-logo img{
    width: 80px;
    margin: -53px auto 10px auto;
}

footer{
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}